.site {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  //padding-top:80px;
}


/*--------------------------------------------------------------
## Bootstrap Scaffold
--------------------------------------------------------------*/
@import "../layout/layout";
/*--------------------------------------------------------------
## header
--------------------------------------------------------------*/
@import "header/header";
/*--------------------------------------------------------------
## Home Page Slider
--------------------------------------------------------------*/
@import "primary/homeslider";
/*--------------------------------------------------------------
## Two Column arrangement
--------------------------------------------------------------*/
@import "primary/two-column";
/*--------------------------------------------------------------
## Services
--------------------------------------------------------------*/
@import "primary/services";
/*--------------------------------------------------------------
## Text Content / slider Content
--------------------------------------------------------------*/
@import "primary/text-then-image";
/*--------------------------------------------------------------
## Section Dividers
--------------------------------------------------------------*/
@import "primary/section-dividers";
/*--------------------------------------------------------------
## Portfolio
--------------------------------------------------------------*/
@import "primary/portfolio";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/_footer";