// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin button-outline($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:focus,
	&.focus {
		color: $color;
		//background-color: darken($background, 10%);
		border-color: darken($border, 50%);
	}
	&:hover {
		color: $color;
		//background-color: darken($background, 10%);
		border-color: darken($border, 50%);
	}
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $color;
		//background-color: darken($background, 10%);
		border-color: darken($border, 50%);

		&:hover,
		&:focus,
		&.focus {
			color: $color;
			//background-color: darken($background, 17%);
			border-color: darken($border, 50%);
		}
	}
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus,
		&.focus {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}