/*--------------------------------------------------------------
Top Footer
--------------------------------------------------------------*/

#top-footer{
 padding-top:100px;
 padding-bottom:100px;
  //background-color:$gray-base;
  background-color: #f5f5f5;
}

