.section-divider {
  width: 100%;
  max-height: 450px;
  padding-bottom: 70px;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
}

.textdivider h2 {
  padding-top: 50px;
  padding-bottom:25px;
  font-size: 40px;
}

.textdivider p {
  font-size: 25px;
}